<% include ../includes/header %>
	<div class="container-wide">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <center><h1>Welcome to my 500px workterm website. Click an above link.</h1></center>
    </div>
    </div>
	</div>
<% include ../includes/footer %>