<% include ../includes/header %>
	<div class="container-wide">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <center><h1>Goals</h1></center>
      <p style="white-space: pre-wrap;">
LEARNING GOAL 1
Learning Goal 1: CRITICAL & CREATIVE THINKING - Inquiry & Analysis

Goal 1: To decrease the average number of resubmissions my code reviews by 10% over the course of 3 months.

Action Plan 1: Learn better coding practises and rim standards to have less errors on the first code submission and improve on communication skills to properly interpret my tasks and review comments.

Measure of Success 1: If my average number of resubmissions is decreased.

Reflection 1: Achieved this by focusing on a check-list of things to ensure were done before submitting code.


LEARNING GOAL 2
Learning Goal 2: PROFESSIONAL & ETHICAL BEHAVIOUR - Teamwork

Goal 2: Learn how to correctly implement development methodologies (scrum/agile).

Action Plan 2: Participate in scrum stand ups and sprints and read more about how rim implements their version of agile development

Measure of Success 2: If I have participated in over 30 scrum stand ups and have a decent understanding on how the methodologies work in 2 months.

Reflection 2: Acheived this through the daily stand ups and asking questions to my manager paul


LEARNING GOAL 3
Learning Goal 3: PROFESSIONAL & ETHICAL BEHAVIOUR - Personal Organization/Time Management

Goal 3: Increase overall idea of the codebase to develop an improved understanding of how it works and how I effect the customers experience.

Action Plan 3: Continue to ask questions and read the available resources on the codebase

Measure of Success 3: If I am able to fully explain how the codebase works and what it means to the customers by the end of the work term.

Reflection 3: I feel like I have a good understanding of our codebase from the many tickets I have completed, the weekly platform meetings and my weekly 1 on 1s with paul
</p>
<center><img src="/public/assets/custom/workterm/goal.jpg"></center>
    </div>
    </div>
	</div>
<% include ../includes/footer %>