<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>
            Trevor Baron
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Trevor Baron" >
        <META name="description" content="Trevor Baron's Development Webpage. I am a university student who has been working hard to develop fun and interactive applications such as TinyStomp, CartBallTunnel and more!">
        <META name="keywords" content="trevor, baron, trevor baron, dev, development, resume, portfolio, tinystomp, cartballtunnel, pathfinding, guelph, toronto, games, web, design, software, programmer">

        <script src="/public/bower_components/jquery/jquery.min.js"></script>
        <script src="/public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- CSS -->
                 
        <link href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/public/assets/custom/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/bower_components/font-awesome/css/font-awesome.min.css">


        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/bower_components/bootstrap/dist/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/bower_components/bootstrap/dist/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/bower_components/bootstrap/dist/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="/public/bower_components/bootstrap/dist/ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="/public/mainSite/assets/img/favicon.ico">
        <noscript>
            <style>
                .noscript-hide{
                    display:none;
                }
            </style>
        </noscript>
    </head>
    
    <body id="bod">
        <% include menu %>