<% include ../includes/header %>
	<div class="container-wide">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <center><h1>Conclusion</h1></center>
      <p>Overall my time at 500px has been amazing. I learned a lot about dealing with millions of users and creating maintainable software. I especially enjoyed learning about the micro service archecture we were moving towards during my workterm as it is something I have never really worked on before and I think it is a great way to break a problem into easier to solve peices. I also liked that I got to view great photos while doing my job. It adds a great visual element compared to other companies where I would mainly be looking at text on a screen. In the end I had a lot of fun and it was one of my better work terms.</p>
<center><img src="/public/assets/custom/workterm/conclude.jpg"></center>
    </div>
    </div>
	</div>
<% include ../includes/footer %>