<% include ../includes/header %>
	<div class="container-wide">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <center><h1>500px</h1></center>
      <p>500px is a photo sharing company best known for their photo sharing website <a href="http://www.500px.com">500px.com</a>. 500px's main base of location is in Toronto but it also has a California office. 500px allows users to upload photos to the site so their pictures can be shared in the cloud and shared with other users. The site allows users to vote on photos and save their favorite photos for later viewing. The top photos can be seen on the popular page which displays the best of the best photos.</p>

<p>The main source of income for 500px comes from the premium accounts offered which allow for unlimited uploads and a custome profile/website for users to show off their photos with. However they are begining to shift more towards the selling of users photos to content creators and taking a small cut of the transaction.</p>
<center><img src="/public/assets/custom/workterm/500logo.jpg"></center>
    </div>
    </div>
	</div>
<% include ../includes/footer %>