<% include ../includes/header %>
	<div class="container-wide">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <center><h1>Focus</h1></center>
      <p>The main focus of my workterm at 500px was creating api endpoints to be used by the frontend team to complete new features, dashboard analytics and the breaking up of the monolithic rails app into smaller, more managable services such as an uploading or search service.</p>
<center><img src="/public/assets/custom/workterm/focus.jpg"></center>
    </div>
    </div>
	</div>
<% include ../includes/footer %>