<% include ../includes/header %>
    <div style="text-align: center;white-space: nowrap;font-size: 4.5em;font-weight:bold;">
      <p>Nice to meet you<br>My name is <b>Trevor Baron</b></p>
      <img src="/public/assets/custom/img/tinyStompLogo.png" width="200" height="200">
    </div>
<% include ../includes/footer %>