<% include ../includes/header %>
	<div class="container-wide">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div style="text-align: center;font-size: 4.5em;font-weight:bold;"><div style="padding-bottom:10px;">Nice to meet you</div>My name is <b>Trevor Baron</b><br>
      <img src="/public/assets/custom/img/tinyStompLogo.png" width="200" height="200" alt="Trevor Baron Logo"></div>
    </div>
    </div>
	</div>
<% include ../includes/footer %>