<% include ../includes/header %>
	<div class="container-wide">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <center><h1>500px</h1></center>
      <p>I would like to thank the entire platform team: Paul, Chris, Keven and Arseny. They are great developers and it has been a pleasure learning from them and developing solutions with them for 500px problems.</p>
<center><img src="/public/assets/custom/workterm/ack.jpg"></center>
    </div>
    </div>
	</div>
<% include ../includes/footer %>