<% include ../includes/header %>
    <div style="text-align:center;">
    	<div style="margin-bottom:20px;display:inline-block;width: 640px;text-align:left">
    		<center class="blog-title">I'm a pretty chill dude</center><br>
    		<p>
    		My name is <b>Trevor Baron</b> and I am a programmer from Toronto, Ontario. Ever since I was young I have been amazed at what can be done with the technology we have available. I took an adobe flash animation course in summer camp during the summer before I entered grade 9 and at the end of the course the instructor showed us a game he made using actionscript. At that moment I never knew what programming even was but I was inspired to learn actionscript on my own and i was able to create a simple bomberman type game. It wasn't much but it was the start of a lifetime of learning. I began using ideas which I learned in school such as trigonometry to calculate the rotation of a character to the mouse for a shooting type game and adding simple physics to sidescrollers. I loved math and science but I quickly learned that programming used math and science as a tool to get work done at alarming speeds. Grade 11 and 12 was when I took my first official programming course which was java. I easily flew through all the assignments because of my good experience with action script. I knew what I liked and I liked programming so i applied to university for computer science. I decided to go to university of Guelph because I liked the campus and I heard the food was great.</p>

			<p>I made many friends and even formed a partnership with one. We ended up creating an online multiplayer game in actions script 3 called TinyStomp. Classes are important but I find that most of my learning is done on my own time when i work on my own projects for fun. One weekend I competed in the Great Canadian Appathon which was a competition to make an app for a mobile device in under 48 hours and my team placed top 25 in all of canada and best in Guelph with our game CartBallTunnel. I currently have over 6 games on various websites such as mochigames.com giving me ad revenue on a daily basis. My most challenging work I have completed is a room based pathfinding game with zombies in it.</p>

			<p>My current project that I am working on is a stock simulation game which runs on a javascript server i am writing. People can log in purchase stocks with ingame money and watch as stocks rise and fall. I am trying to to apply strategies to keep users active such as bonuses for logging in daily and it is turning out to be a great success.</p>

			<div style="text-align: center;white-space: nowrap;font-size: 4.5em;font-weight:bold;">
		      <img src="/public/assets/custom/img/tinyStompLogo.png" width="200" height="200" alt="Trevor Baron Logo">
		    </div>
    	</div>
    </div>
<% include ../includes/footer %>