<% include ../includes/header %>
    <div style="text-align:center;">
    	<div style="font-size:2em;margin-bottom:20px;display:inline-block;width: 640px;text-align:left">
    		I'm a pretty chill dude
    	</div>
    </div>
<% include ../includes/footer %>