<% include ../includes/header %>
    <div style="text-align:center;font-size:1.5em;">
        Click on a name to view a project!<br><br>
        <div style="font-weight:bold;font-size:2em;margin-bottom:20px;">Websites</div>
        <div style="display:inline-block;width:840px;text-align:left;">
            <ul>
                <li><a style="color:black;" href="http://www.niftykick.com" target="_blank">niftykick.com - buying/selling digital goods platform</a></li>
                <li><a style="color:black;" href="http://swiftnifty.trevordev.com/" target="_blank">swiftnifty.trevordev.com - online ordering system for goods/services</a></li>
                <li><a style="color:black;" href="http://www.chatleap.com" target="_blank">chatleap.com - social chatroom app</a></li>
                <li><a style="color:black;" href="http://www.devbrick.com" target="_blank">devbrick.com - website creation</a></li>
                <li><a style="color:black;" href="http://www.jokeydoke.com" target="_blank">jokeydoke.com - joke database</a></li>
                <li><a style="color:black;" href="http://www.tinystomp.com" target="_blank">tinystomp.com - online multiplayer flash game</a></li>
                <li><a style="color:black;" href="http://www.trevordev.com" target="_blank">trevordev.com - the website you are on right now</a></li>
            </ul>
            <hr>
        </div>
        <div style="font-weight:bold;font-size:2em;margin-bottom:20px;">Javascript Demos</div>
        <div style="display:inline-block;width:840px;text-align:left;">
            <ul>
                <li><a style="color:black;" href="/public/assets/custom/jsDemos/blockFighting/index.html" target="_blank">2-Player Block Fighter</a></li>
                <li><a style="color:black;" href="/public/assets/custom/jsDemos/platformer/index.html" target="_blank">Platformer Engine</a></li>
                <li><a style="color:black;" href="/public/assets/custom/jsDemos/rope/index.html" target="_blank">Rope Simulation</a></li>    
            </ul>
            <hr>
        </div>
        <div style="font-weight:bold;font-size:2em;margin-bottom:20px;">Flash Games Demos</div>
        <div style="display:inline-block;width:840px;text-align:left;">
            <ul>
                <li><a style="color:black;" href="/page/flashDemo/arcadePlatformer">Arcade Platformer</a></li>
                <li><a style="color:black;" href="/page/flashDemo/zombieCrash">Zombie Crash (I created my own pathfinding algorithm for this)</a></li>
                <li><a style="color:black;" href="/page/flashDemo/runner">Tinystomp:Runner</a></li>
                <li><a style="color:black;" href="http://www.tinystomp.com" target="_blank">Tinystomp</a></li>
                <li><a style="color:black;" href="/page/flashDemo/cartballTunnel">Cart Ball Tunnel (playable on android)</a></li>
                <li><a style="color:black;" href="/page/flashDemo/catGame">Cat Game (playable on android)</a></li>
                <li><a style="color:black;" href="/page/flashDemo/mousebattle">mousebattle</a></li>
                <li><a style="color:black;" href="/page/flashDemo/zombieUpgrade">zombieUpgrade</a></li>
                <li><a style="color:black;" href="/page/flashDemo/lavaJump">lavaJump</a></li>
                <li><a style="color:black;" href="/page/flashDemo/transformerguy">transformerguy</a></li>
                <li><a style="color:black;" href="/page/flashDemo/jumpoid">jumpoid</a></li>
                <li><a style="color:black;" href="/page/flashDemo/pingpong">pingpong</a></li>
                <li><a style="color:black;" href="/page/flashDemo/rope1">rope1</a></li>
                <li><a style="color:black;" href="/page/flashDemo/rope9 ">rope9 </a></li>
                <li><a style="color:black;" href="/page/flashDemo/insidesane">insidesane</a></li>
                <li><a style="color:black;" href="/page/flashDemo/123theif">123theif</a></li>
                <li><a style="color:black;" href="/page/flashDemo/tankworld">tankworld</a></li>
                <li><a style="color:black;" href="/page/flashDemo/zombietank">zombietank</a></li>
                <li><a style="color:black;" href="/page/flashDemo/intoTheInferno">intoTheInferno</a></li>
                <li><a style="color:black;" href="/page/flashDemo/think">think</a></li>
                <li><a style="color:black;" href="/page/flashDemo/flyingGhost">flyingGhost</a></li>
                <li><a style="color:black;" href="/page/flashDemo/crazyland">crazyland</a></li>
                <li><a style="color:black;" href="/page/flashDemo/circleOrSquare">circleOrSquare</a></li>
                <li><a style="color:black;" href="/page/flashDemo/paintballUpgrade">paintballUpgrade</a></li>
                <li><a style="color:black;" href="/page/flashDemo/crazydudeWalking">crazydudeWalking</a></li>
                <li><a style="color:black;" href="/page/flashDemo/Ninjalevel">Ninjalevel</a></li>
            </ul>
            <hr>
        </div>
		<div style="margin-bottom:20px;">You can find some of these and many more of my personal projects on<br><a style="color:black;" href="https://github.com/TrevorDev" target="_blank"><img style="width:400px;" src="/public/assets/custom/img/GitHub_Logo.png"><br>github.com/TrevorDev</a>
        </div>
    </div>
<% include ../includes/footer %>