<% include ../includes/header %>
    <div style="text-align:center;">
    	<div style="display:inline-block;width: 640px;text-align:left">
    		

    		<div style="font-size:2em;margin-bottom:20px;">Title</div>
    		<p style="margin-bottom:20px;text-indent:50px;">
    		One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this
    		</p>
    		<p>
    		One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this One day i did this
    		</p>
    	</div>
    </div>
<% include ../includes/footer %>