<% include ../includes/header %>
    <div style="text-align:center;">
    	<div style="display:inline-block;max-width: 640px;text-align:left">
            <div class="container-wide">
            <div class="row">
            <div class="col-md-10 col-md-offset-1">
    		<div style="font-weight:bold;font-size:2em;margin-bottom:20px;">Follow Me On Twitter <a style="color:black;" href="https://twitter.com/TrevorDeveloper" target="_blank">@TrevorDeveloper</a></div>
            <div style="font-weight:bold;font-size:1.1em;margin-bottom:20px;">Don't mind my poor spelling/grammer</div>
            <hr>

            <div class="blog-date">Apr 5, 2014</div>
            <div class="blog-title">NiftyKick MVP is born</div>
            <p>
                When most of my personal projects were small games I enjoyed the creation process and learned a lot. I got to the point when I was considering making a game to put up for sale. When looking for a good place to do this I had some trouble. Steam was the first place I looked but it was very hard to get approved to be on their store and from what I've seen they take a 30% cut. Looking at other similar services they all seemed to have a 20% - 30% cut. I thought this was far too high and that it hurts both consumers and developers by taking away money that could be used to make better games.
            </p>
            <p>
                Complaining about this was easy but I wanted to take action. I to attempt make my own competitive service that can provide a supperior platform at a 3rd of the cost. I spoke with others in similar situations and found that musicians and comdedians have the same issue with services like iTunes and Bandcamp. Next I started to make NiftyKick, a buying/selling digital goods service to solve all our problems.
            </p>
            <p>
                Since the creation of Steam and iTunes a lot has changed in the prices of hosting and payment processing. Digital ocean has a 5$ a month hosting plan where I can run a nodeJS server which I plan to use to validate my idea while I have a small amount of users. For payments the stripe api makes it really simple to accept and transfer payments but they do take 2.9% + $0.30 for every transaction.
            </p>
            <p>
                I've decided that hosting/developer costs + the stripe fee should never cost more than 10% of a sale allowing me to undercut the leading platforms in price while providing a premium platform that has room to scale. I have made something I would like to use in the future. All I have to do now is find new users and get traction. This should be fun!
            </p>
            <hr>

            <div class="blog-date">Mar 20, 2014</div>
            <div class="blog-title">Hackathons</div>
            <p>
                Recently I have been attending a number of hackathons in the toronto area. There is a good variety of hackathons and I have entered some as a team and some as an individual. They have been a great way to get rid of lazyness and force you to build and validate a cool idea.
            </p>
            <p>
                There are hackathons where you build something "cool" and then there are ones where you build something useful/profitable. The best projects are the ones that fall under both catagories and this is where hackathons shine allowing you to take risks without wasting all your time because the longest hackathons are around 48 hours.
            </p>
            <p>
                My favorite thing that I build was SwiftNifty. I have always had a problem waiting in lines and I wanted a way to fix this. I created an online ordering tool that allows people to order and pay from their phone or browser so when they get to a store they dont need to wait for their order to get made or wait in a line to pay. They can just simply walk in, grab what they ordered and leave. Imagine all the time savings we would have if every company used a system like this.
            </p>
            <p>
                SwiftyNifty didn't even place in the hackathon it was entered in. I honestly don't know how I didn't win. It was the most useful and polished project made that weekend IMHO but it doesnt matter because the hackathon pushed me to build something I wanted to exist and I plan to work further on it in the future.
            </p>
            <hr>

            <div class="blog-date">Jan 1, 2014</div>
            <div class="blog-title">New Year, New Ideas</div>
            <p>
                At the start of each new year I feel that the world really drops the ball. Many people I talk to have come up with some sort of new years resolution on how to improve themselves. Why do this only once a year? Why not daily? Why think only about how to improve yourself when you can also be thinking about how to change the world around you.
            </p>
            <p>
                Taking public transit is horrible. When asking people why this is I usually get an answer saying that this is the best we can do. Does this mean that the best we can do is horrible? Instead of complaining Id like to see alternative ideas that would be better.
            </p>
            <p>
                I recently have been getting ready for a new coop job in the newyear and needed to find a place to live downtown toronto. When trying to find a place that was close to my work, inexpensive and availible for 4 months I was told that it would be incredibly hard to find and that many people commute over an hour to get to work downtown. I shouldnt be discouraged from finding what I want because others have made the odd choice of living far away from their work. My time is worth a lot to me so I shouldn't settle for anything but the best.
            </p>
            <hr>
            <div class="blog-date">Dec 23, 2013</div>
            <div class="blog-title">Trivia bot that broke the rules</div>
            <p>
            A few days ago I noticed a twitter trivia contest where a question would be tweeted out and a few random users who answered correctly would win a prize. Additionally the top 25 twitter users who answered the most questions correctly would be entered in a draw for $500. Each hour a trivia question was asked over the course of 7 days. Of course I did the most logical thing which was to write a bot that would stay up and tweet the correct answer for me. I had already had experience with the twitter API from tweet-bliss and so in no time I had a working program that looked at others answers and tweeted the most popular answer.
            </p>
            <p>
            What I didnt consider was the ammount of other people doing the exact same thing. Someone tweeted out a question about the contest instead of an answer. Over 50 other programs tweeted out the question including mine and so I was banned from the contest.
            </p>
            <p>
            Was what I did really wrong? To the contest it was but how was my program any different than me manually looking at other twitter user answers? 
            </p>
            <hr>
            <div class="blog-date">Jul 5, 2011</div>
    		<div class="blog-title">Success of TinyStomp.com</div>
    		<p>
    		We did it! We failed. Not only did me and my friend fail but it took us 3 months to fail. After the exciting conculsion to first year university. Me and my friend Nick knew that we knew everything there was to know about programming, after all we did ace all of first year university and had tons of experience writing horible personal projects in our spare time. We had the world at our finger tips and it was time for us to get rich by entering the market for online flash games.
    		</p>
    		<p>
    		We wanted to make multiplayer mario style game with multipath levels that would make the player want to play until he/she exhasted all possible paths and final bosses that would thrill even a hardcore gamer. So we set out to create just that. My friend had a night shift at a factory to pay for school so it was difficult for us to coordanate tasks but we made it work. For the ammount of knowledge we had I feel like we did a decent job. We create a lite version of the game that can be played on tinystomp.com and it works!
    		</p>
            <p style="text-indent:0px;">
                In the end we decided to give up on development for a few reasons. 
                <ul>
                    <li>My poor knowledge of object oriented programming at the time led to a less than desirable code base</li>
                    <li>We decided to write the program in flash and had poor knowledge of how to code for performace so there may be screen tearing and/or leaks if playing for a long period of time</li>
                    <li>On the backend we decided to go with a service known as player.io which charges based on bandwidth. This was the biggest nail in the coffin because we relized we would end up needing to pay out money we didnt have if the game ever got popular.</li>
                </ul>
            It took us 3 whole months to relize our poor desisions but we don't regret the time spent. We learned what can go wrong in development and received insight on how to improve in the future. We did it! We learned!
            </p>
            <hr>
    	</div>
        </div>
        </div>
        </div>
    </div>
<% include ../includes/footer %>