<% include ../includes/header %>
    <div style="text-align:center;">
    	<div style="display:inline-block;width: 640px;text-align:left">

    		<div style="font-weight:bold;font-size:2em;margin-bottom:20px;">Follow Me On Twitter <a style="color:black;" href="https://twitter.com/TrevorDeveloper" target="_blank">@TrevorDeveloper</a></div>

            <div style="font-weight:bold;font-size:1.2em;">Jul 5, 2011</div>
    		<div style="font-weight:bold;font-size:2em;margin-bottom:20px;">The Success of TinyStomp.com</div>

    		<p>
    		We did it! We failed. Not only did me and my friend fail but it took us 3 months to fail. After the exciting conculsion to first year university. Me and my friend Nick knew that we knew everything there was to know about programming, after all we did ace all of first year university and had tons of experience writing horible personal projects in our spare time. We had the world at our finger tips and it was time for us to get rich by entering the market for online flash games.
    		</p>
    		<p>
    		We wanted to make multiplayer mario style game with multipath levels that would make the player want to play until he/she exhasted all possible paths and final bosses that would thrill even a hardcore gamer. So we set out to create just that. My friend had a night shift at a factory to pay for school so it was difficult for us to coordanate tasks but we made it work. For the ammount of knowledge we had I feel like we did a decent job. We create a lite version of the game that can be played on tinystomp.com and it works!
    		</p>
            <p style="text-indent:0px;">
                In the end we decided to give up on development for a few reasons. 
                <ul>
                    <li>My poor knowledge of object oriented programming at the time led to a less than desirable code base</li>
                    <li>We decided to write the program in flash and had poor knowledge of how to code for performace so there may be screen tearing and/or leaks if playing for a long period of time</li>
                    <li>On the backend we decided to go with a service known as player.io which charges based on bandwidth. This was the biggest nail in the coffin because we relized we would end up needing to pay out money we didnt have if the game ever got popular.</li>
                </ul>
            It took us 3 whole months to relize our poor desisions but we don't regret the time spent. We learned what can go wrong in development and received insight on how to improve in the future. We did it! We learned!
            </p>
    	</div>
    </div>
<% include ../includes/footer %>