<% include ../includes/header %>
	<div class="container-wide">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <center><h1>Academic Relation</h1></center>
      <p>My job at 500px highly relates to my networking class at school. There we learned how to implement a basic mvc website in pylons which is somewhat similar to ruby on rails. Also the database course was useful when creating sequal queries and figuring out how to store certain photo information in databases.</p>
<center><img src="/public/assets/custom/workterm/school.jpg"></center>
    </div>
    </div>
	</div>
<% include ../includes/footer %>