<% include ../includes/header %>
	<div class="container-wide">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <center><h1>Description</h1></center>
      <p>At 500px my position was software developer on the platform team. A normal day would consist of a mourning standup where I would discuss what i did yesterday, what I will do today and if I have anything blocking me from working. After the standup I would then take a ticket from the current sprint complete it and then submit it for code review. I would also review otheres code when they complete a ticket. Tickets would be platfrom related such as implementing and api endpoint, restoring deleted photos, researching how to implement search in a scalable way. Each week I would also partisipate in a sprint planning session estimating how long specific tickets would take and alsp partisipate in a platfrom meeting where we would discuss anything related to the platform</p>
<center><img src="/public/assets/custom/workterm/job.jpg"></center>
    </div>
    </div>
	</div>
<% include ../includes/footer %>